VIDEO_PROVIDER=dry-run
VIDEO_SCENE_SPEC=animal_travel_preparation_scene.json
VIDEO_OUTPUT_DIR=output/video_generation_package
VIDEO_API_URL=
VIDEO_API_KEY=
VIDEO_API_TIMEOUT=120
RUNWAYML_API_SECRET=
RUNWAY_MODEL=gen4_turbo
RUNWAY_GENERATION_MODE=text_to_video
RUNWAY_DURATION=
RUNWAY_RATIO=
RUNWAY_PROMPT_IMAGE=
